html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
app{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    margin: 0;
}
.nav {
    height: 100px;
    width: 100%;
    /* background-color: #BDC3C7; */
    background-color: #2ECC71;
    box-shadow: 10px 10px 15px #34495E;
    font-size: 5em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    vertical-align: middle;
    color: white;

    
}
h1{
    color: #E67E22;
    font-size: 2.5em;
    font-family:sans-serif;
}
input{
    display: block;
    height: 60px;
    margin-top: 30px;
    width:100%;
    font-size: large;
    border-radius: 50px;
    text-align: center;
}
input[type=button]{
    background-color:#5DADE2;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    border-radius: 50px;
}

.nav-text {
    margin:auto;
    display: inline-block;
    
}
.main{
    /* flex-grow: 1; */
    position: absolute;
    top: 100px;
    bottom: 0;
    display: flex;
    width: 100%;
}

.container{
    flex:60%;
    background-color: #F1C40F;
    overflow: scroll;
    padding: 30px;
}
.inner-container{
    display: flex;
    width: 100%;
    margin-bottom:10%;    
}
form{
    width: 80%;
    margin: auto;
    
}
.form{
    flex:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.todos{
    flex:1;
    border-radius: 50px;
    box-shadow: 10px 10px 15px #E67E22;
    margin:auto;
    position: relative;
    text-align: center;

    background-color: white;
}
.todos > span{
    position: absolute;
    bottom:0;
    right: 10%;
    margin-top:10%;
}
.todos > p{
    margin-bottom: 5%;
}


#closebtn {
    margin:0;
    position: absolute;
    top:0;
    right:5%;
    color: #E67E22;
    font-weight: bold;
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.3s;
    height: fit-content;
    border: 2px solid;
    border-radius: 50px;

}

#closebtn:hover {
    color: black;
}